<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Eddystone Estimote Beacons
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="beaconData.length == 0; else beaconFound">

    <ion-card>
      <ion-card-header>
        Start Scan
      </ion-card-header>
      <ion-card-content>
        <p>Click the scan button to begin the scanning for beacons!</p>
        <button ion-button (click)="startScanningForBeacons()">
          Scan
        </button>
      </ion-card-content>
    </ion-card>
  </div>
  <ng-template #beaconFound>
    <ion-card>
      <ion-card-header>
        Beacon found
      </ion-card-header>
      <ion-card-content>
        <ion-list *ngFor="let beacon of beaconData">
          <ion-item> URL: {{beacon.url}}</ion-item>
          <ion-item> Address: {{beacon.address}}</ion-item>
          <ion-item> NID: {{beacon.nid}}</ion-item>
          <ion-item> RSSI: {{beacon.rssi}}</ion-item>
        </ion-list>
        <button ion-button color="danger" (click)="stopScanningForBeacons()">Stop scanning</button>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>
